<h1> thats me </h1>
<% @articles.each do |article| %>
  <pre>
  title:
    <%= article.title %>
  description:
    <%= article.description %></pre>
    <%= link_to "Edit article", edit_article_path(article) %> |
    <%= link_to "Show article", article_path(article) %>
    <%= link_to "Delete article", article_path(article), method: :delete, data: {confirm: "Are you sure"} %>
<% end %><br />
<%= button_to "Create new article", new_article_path, method: :get %>
