<h1 class="center">Create new Article </h1>
<%= render 'shared/messages', obj: @article %>
<%= form_for(@article, html: { class: "form-horizontal" }) do |f| %>
  <div class="row">
    <div class="form-group">
      <%= f.label :title, class: "col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, class: "col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_area :description, class: "form-control", rows: 10,placeholder: "Base of the article" %>
      </div>
    </div>
    <div class="col-sm-offset-2 col-sm-8">
      <%= f.submit "Submit", class: "btn btn-primary btn-xlg" %>
    </div>
  </div>
<% end %> <br />
<div class="col-sm-offset-4 col-sm-4">
  [ <%= link_to "Cancel and back to see all articles", articles_path %> ]
</div>
m
