<%= render 'shared/messages', obj: @category %>
<%= form_for(@category, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <div class="row">
    <div class="form-group">
      <%= f.label :name, class: "col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :name, class: "form-control", placeholder: "Your name", autofocus: true %>
      </div>
    </div>
    <div class="col-sm-offset-2 col-sm-8">
      <%= f.submit  class: "btn btn-primary btn-xlg" %>
    </div>
  </div>
<% end %> <br />
<div class="col-sm-offset-4 col-sm-4">
  [ <%= link_to "Cancel and back to see all articles", categories_path %> ]
</div>

